.hero2_Title,
.hero3_Title {
	text-shadow: 2px 2px 4px #000000;
	padding: 0 0 0 0;
}
.hero1_SubTitle,
.hero2_SubTitle,
.hero3_SubTitle {
	padding-top: 16%;
}
.hero1_content,
.hero2_content,
.hero3_content {
	padding: 0%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.hero_content {
	max-width: 350px;
	display: inline-block;
	clear: both;
	color: #fdf9ec !important;
	text-shadow: 2px 2px 4px #000000;
	margin: 50px 3px 50px 3px;
}

@media only screen and (max-width: 600px) {
	.hero2_Title,
	.hero3_Title {
		font-size: 35px;
	}
}