<section id="home" name="BANER">
    <div class="slideshow-container carousel carousel-slider">
        <div class="carousel-item meni" href="#one!">
            <img src="assets/pictures/banners/BANNER 1.png" class="hide-on-small-only" />
            <img src="assets/pictures/banners/phone/BANNER 1.png" class="hide-on-med-and-up" />

            <div id="Hero1" class="continer vertical_center center-align eBlock">
                <h3 class="hero1_SubTitle">Write your own destiny</h3>
                <h1 class="hero1_Title">IN THE NAME OF COFFEE</h1>
                <div>
                    <div class="hero1_content center">
                        <h6 style="max-width: 450px">Whenever you take a sip of Meni's elixir, remember that you're aligning yourself with the power of the <b>goddess of fate and destiny.</b></h6>
                    </div>
                    <div>
                        <a href="#Our_Story" class="waves-effect waves-light mybtn">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item meni" href="#two!">
            <img src="assets/pictures/banners/shutterstock_424873498.jpg" class="hide-on-small-only" />
            <img src="assets/pictures/banners/phone/BANNER2.png" class="hide-on-med-and-up" />

            <div class="continer vertical_center right-align eBlock">
                <h1 class="hero2_Title">
                    ROASTED COFFEE <br />
                    FOR YOU
                </h1>
                <div class="hero2_content right">
                    <div>
                        <h6 class="hero_content">Meni is a celebration of the <b>finest coffee beans from the world over</b>, carefully selected and crafted to bring out their unique characteristics.</h6>
                    </div>
                    <div>
                        <a href="https://www.amazon.com/dp/B0BSG7ZLBJ?ref=myi_il_dp" class="waves-effect waves-light mybtn">TRY COFFEE</a>
                        <a href="#Our_elixir" class="waves-effect waves-light mybtn2">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item meni" href="#three!">
            <img src="assets/pictures/banners/shutterstock_1882416772.jpg" class="hide-on-small-only" />
            <img src="assets/pictures/banners/phone/BANNER3.png" class="hide-on-med-and-up" />
            <div class="continer vertical_center left-align eBlock">
                <h1 class="hero3_Title">
                    UNLEASH YOUR INNER <br />
                    COFFEE CONNOISSEUR
                </h1>
                <div class="hero3_content left">
                    <div>
                        <h6 class="hero_content">Enjoy Freshly Roasted Beans at Your Doorstep with <b>Monthly Delivery.</b></h6>
                    </div>
                    <div>
                        <a class="waves-effect waves-light mybtn pulse" style="background-color: #fdf9ec">SUBSCRIBE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>